<h1>Authentification</h1>

<div class="col-md-6">
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Connexion</h3>
    </div>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" name="loginForm">
  <div class="card-body">
    <div class="form-group">
  <label for="email">Email</label>
  <input type="email" formControlName="email" id="email" class="form-control" placeholder="Enter email"/>
    </div>
    <div class="form-group">
  <label for="password">Password</label>
  <input type="password" formControlName="password" id="password" class="form-control" placeholder="Password"/>
      </div>
  <div class="row mt-3">
    <div class="col-sm-12 mb-2">
      <re-captcha  formControlName="captcha"  id="recaptcha" name="recaptcha" required></re-captcha>
    </div>
  </div>
  <br/>
    <div *ngIf="error">{{error}}</div>
  </div>
  <div class="card-footer">
  <button class="btn btn-primary">
    Se connecter
  </button>
  </div>
</form>
  </div>
</div>

