<h1>Gestion des Villes </h1>


<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <label for="search">Recherche : </label>
  <input id="search" type="text" formControlName="searchExpression" />
  <button>Rechercher</button>
  <button (click)="reset()">Reset</button>
</form>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Nom</th>
    <th>slug</th>
    <th>Nouveau
      <button [routerLink]="['/villes/create']" >
        <mat-icon>add</mat-icon>
      </button>
    </th>
  </tr>
  </thead>
  <tbody *ngIf="villes; else noVilles">
  <tr *ngFor="let v of villes | paginate: {itemsPerPage:itemsPerPage, currentPage: currentPage, totalItems:totalItems}">
    <td>{{v.nom}}</td>
    <td>{{v.slug}}</td>
    <td class="td-action">
      <button [routerLink]="['/villes',v.id,'details']" >
        <mat-icon>visibility</mat-icon>
      </button>
      <button [routerLink]="['/villes/update',v.id]">
        <mat-icon>edit</mat-icon>
      </button>
      <button (click)="delete(v.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </tr>
  </tbody>
</table>
<ng-template #noVilles>
  <span class="text-danger">Aucun utilisateur trouvé !</span>
</ng-template>
<pagination-controls *ngIf="villes"
                     (pageChange)="pageChanged($event)"
                     previousLabel="Précédent"
                     nextLabel="Suivant"></pagination-controls>
