<div *ngIf="isUpdate"><h1>Modification Niveaux </h1></div>
<div *ngIf="!isUpdate"><h1>Nouvelle Niveaux </h1></div>

<div class="col-md-6">
  <div class="card card-primary">
    <div class="card_content">


      <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
        <div class="card-body">
          <div class="form-group" >
            <label for="valeur">Valeur</label>
            <input id="valeur"  formControlName="valeur" class="form-control" ></div>
          <div class="form-group" >
            <label for="description">description</label>
            <input id="description" formControlName="description" class="form-control" ></div>

          <div class="form-group colorCell" >
            <label for="codeCouleurHexa">Couleur</label>

            <input id="codeCouleurHexa" formControlName="codeCouleurHexa" class="form-control" [value]="newColor">
              <div id="newColorid"  class="colorCase" [style.background-color]="newColor" (input)="updateColor($event)" ngx-colors-trigger  ></div>
          </div>



          <button *ngIf="!isUpdate" name="ButtonForm" class="btn btn-primary">creer</button>
          <button *ngIf="isUpdate" name="ButtonForm"  class="btn btn-primary">update</button>
        </div>
      </form>
      <button name="goBackButton" class="btn btn-primary" (click)="goBack()" >retour</button>
    </div>
  </div>

</div>
